* {
    margin : 0;
    padding: 0;
}
body {
    background-image: url("./background.jpeg");
    max-width: 100vw;
    max-height: 95vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
}
nav::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7.5%;
    width: 100%;
    padding: 5px;
    background: linear-gradient(to right,rgb(0, 0, 0, 0.8), rgb(143, 143, 143, 0.1));
    z-index: -1;
    color: #fff;
}
