

:root {
    --header-height: 3.5rem;

    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);

    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --large-font--size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.815rem;
    --smaller-font-size: 0.75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-strong: 600;

    --z-tooltip: 100;
    --z-fixed: 10;
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

body {
    background-color: var(--body-color);
    min-height: 100vh;
}

button, input {
    all: unset;
    cursor: pointer;
    outline: none;
    border: none;
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-strong);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.main {
    overflow: hidden;
}

.section {
    padding-block: 5rem 1rem;
}

header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-strong);
}

.pages {
    text-align: center;
}

.pages ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.pages ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#searchBar {
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid var(--title-color);
    border-left: 1px solid var(--title-color);
    color: var(--title-color);
    border-color: var(--title-color);
    border-style: solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 15rem;
    background-color: transparent;
}

#searchBtn, #resetBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    background-color: rgb(6, 206, 139);
    color: var(--title-color);
    font-size: var(--body-font);
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 0.75rem;
}

#searchBtn:hover, #resetBtn:hover {
    background-color: rgba(6, 206, 139, 0.9);
}

.main {
    position: relative;
    min-height: 100vh;
    padding-top: 4rem;
    row-gap: 3rem;
}

.main-bg {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

.main-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;   
    background: linear-gradient(to left, hsla(0, 0%, 0%, 0.1)50%, hsl(0, 0%, 0%) 100%);
    z-index: -1;
}

.main h1 {
    margin: 5rem 0 0 3rem;
    font-family: var(--second-font);
    font-size: var(--large-font--size);
    font-weight: var(--font-strong);
    color: var(--title-color);
}

.main p {
    color: var(--title-color);
    font-family: var(--body-font);
    margin: 1rem 0 0 3rem;
    width: 75%;
}

#book {
    margin: 1rem 0 0 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    padding: 0.5rem 1rem;
}

#book:hover {
    background-color: hsla(0, 0%, 100%, 0.215);
}
